<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo"><a class="simple-text logo-mini">
                <div class="logo-img"><img src="./assets/img/angular.png"></div>
            </a><a href="/" class="simple-text logo-normal"> work.com.au</a>
        </div>
        <ul class="nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/home">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/dashboard">
                    <i class="fa fa-cogs"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/searchusers">
                    <i class="fa fa-address-card"></i>
                    <p>Search users</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/adduser">
                    <i class="fa fa-user"></i>
                    <p>Add user</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/updateprofile">
                    <i class="fa fa-user"></i>
                    <p>Update Profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>